/* global properties */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* custom properties */
:root {
  --bg-color-primary: #DBE2EF;
  --bg-color-secondary-header: #F9F7F7;
  --bg-color-secondary-footer: #6195C5;

  --shadow-color-dark: 0.3125rem 0.625rem 3.125rem rgba(0, 0, 0, 0.2);

  --border-color-dark: #000000;

  --smaller-font: 0.8em;

  --border-radius-sm: 0.75rem;
  --border-radius-md: 2rem;
  --rounded-full: 50%;
}
/* --------------------------------------------------------------------- */

#header {
  background-color: var(--bg-color-secondary-header);
}

#main {
  background-color: var(--bg-color-primary);
}

#footer {
  background-color: var(--bg-color-secondary-footer);
}

#header img {
  width: 10.9375rem; /* 175px */
  height: 10.9375rem;
  border-radius: var(--rounded-full);
  object-fit: scale-down;
  background-color: var(--bg-color-primary);
}

.feature-icon-img {
  height: 2.1875rem; /* 35px */
  width: auto;
}

.footer-icon-img {
  height: 1.875rem; /* 30px */
  width: auto;
}

.contact-icon-img {
  height: 1.25rem; /* 20px */
  width: auto;
}

.smaller-font {
  font-size: var(--smaller-font);
}

.feature-icon {
  width: 3.75rem;
  height: 3.75rem;
  border-radius: var(--border-radius-sm);
}

.shadow-dark {
  box-shadow: var(--shadow-color-dark);
  border-radius: var(--border-radius-md);
}

.horizontal-divider {
  border: 0.375rem dotted var(--border-color-dark); /* 1px line width */
  border-bottom: none;
  width: 25%;
}

.vertical-divider {
  border-left: 0.0625rem solid var(--border-color-dark); /* 1px line width */
}