/* global properties */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* custom properties */
:root {
  --bg-color-primary: #DBE2EF;
  --bg-color-secondary-header: #F9F7F7;
  --bg-color-secondary-footer: #6195C5;

  --shadow-color-dark: 5px 10px 50px rgba(0,0,0,.2);

  --bg-color-devider-dark: #000000;

  --smaller-font: 0.8em;

  --border-radius-sm: 0.75rem;
  --border-radius: 2rem;
  --rounded-full: 50%;
}
/* --------------------------------------------------------------------- */

#header {
  background-color: var(--bg-color-secondary-header);
}

#main {
  background-color: var(--bg-color-primary);
}

#footer {
  background-color: var(--bg-color-secondary-footer);
}

#header img {
  width: 175px;
  height: 175px;
  border-radius: var(--rounded-full);
  object-fit: scale-down;
  background-color: var(--bg-color-primary);
}

.feature-icon-img {
  height: 2.1875rem; /* 35px */
  width: auto;
}

.footer-icon-img {
  height: 1.875rem; /* 30px */
  width: auto;
}

.contact-icon-img {
  height: 1.25rem; /* 20px */
  width: auto;
}

.smaller-font {
  font-size: var(--smaller-font);
}

.feature-icon {
  width: 3.75rem;
  height: 3.75rem;
  border-radius: var(--border-radius-sm);
}

.shadow-dark {
  box-shadow: var(--shadow-color-dark);
  border-radius: var(--border-radius);
}

.horizontal-divider {
  border: 6px dotted var(--bg-color-devider-dark);
  border-bottom: none;
  width: 25%;
}

.vertical-divider {
  border-left: 1px solid var(--bg-color-devider-dark);
}
